.hlavicka {
    background-color: #9c27b0;
}

.hlavicka__logo {
    display: flex;
    margin: 0;
}

.hlavicka__obsah {
    width: 100%;
    max-width: 52rem;
    padding: 16px;
    margin: 0 auto;
}
.logo {
    display: inline-flex;
}