div.paticka__casti {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 16px;
    max-width: 52rem;
    padding: 16px;
    margin: 0 auto;
}

h2.paticka__nadpis {
    font-size: 18px;
    color: rgb(32, 32, 32);;
}

.li {
    color: rgb(58, 57, 57);
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(58, 57, 57);
}

ul {
    padding-left: 0;
    list-style-type: none;
    line-height: 1.5;
}