.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;

}
.layout__telo {
    width: 100%;
    max-width: 52rem;
    padding: 32px 16px;
    margin: 0 auto;
    display: block;
}
li {
    display: list-item;
}
li.seznam__polozka {
    line-height: 1.5;
}
.seznam {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.seznam__odkaz {
    color: $doplnkova-barva;
    text-decoration: none;
}
.seznam__odkaz::before {
    content: "";
    margin-bottom: 0.1em;
    width: 0.5em;
    height: 0.5em;
    background-color: currentColor;
    display: inline-block;
    margin-right: 0.5em;
}
.nadpis {
    font-size: 32px;
    margin: 0 0 16px 0;
}
table {
    margin: 0;
}
th {
    text-align: left;
}
.odkaz__zdroj {
    font-style: italic;
    text-decoration: none;
    color: $doplnkova-barva;
}
.odkaz__puvoddat {
    text-decoration: underline;
    color: $hlavni-barva;
}
@media (min-width: 50rem) {
.detail {
    grid-template-columns: 1fr 12rem;
    }
}
.detail {
    display: grid;
    gap: 0 32px;
}
.detail__plakat {
    max-width: 100%;
    width: 100%;
    height: auto;
}
h3 {
    font-size: 24px;
}
.hodnoceni {
    display: flex;
}