---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"
---

  <h2 class="nadpis">{{ film.nazev }}</h2>
  <table>
    <tr>
    <th>Rok:</th><td>{{ film.rok }}</td>
    </tr>
    <tr>
    <th>Země:</th><td>{{ film.zeme | join(", ") }}</td>
    </tr>
    <tr>
    <th>Žánr:</th><td>{{ film.zanr | join(" / ") }}</td>
    </tr>
    <tr>
    <th>Délka:</th><td>{{ film.delka }} minut</td>
    </tr>
  </table>


  <h2>Obsah</h2>
  <p>{{ film.obsah.text }} (<a class="odkaz__zdroj" href="{{ film.obsah.autor.odkaz }}">{{ film.obsah.autor.jmeno }})</a></p>
  